## CSV

In [2]:
import pandas as pd
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# EXCEl

In [4]:
df=pd.read_excel("weather_data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## Dictionary

In [5]:
import pandas as pd
weather_data={
    "day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
    "temperature":[32,35,28,24,32,31],
    "windspeed":[6,7,2,7,4,2],
    "event":["Rain","Sunny","snow","snow","rain","sunny"]
}
df=pd.DataFrame(weather_data)
df
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# tuple/list

In [8]:
weather_data=[("1/1/2017",32,6,"rain"),("1/2/2017",33,6,"sunny"),("1/3/2017",33,7,"snow")]
df=pd.DataFrame(weather_data,columns=["day","temperature","windsped","event"])
df

        day  temperature  windsped  event
0  1/1/2017           32         6   rain
1  1/2/2017           33         6  sunny
2  1/3/2017           33         7   snow

## list of dictionaries

In [10]:
weather_data=[
    {"day":"1/2/2017","temperature":32,"windspeed":6,"event":"rain"},
     {"day":"1/1/2017","temperature":33,"windspeed":7,"event":"sunny"},
      {"day":"1/3/2017","temperature":34,"windspeed":8,"event":"snow"},
]
df=pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/2/2017           32          6   rain
1  1/1/2017           33          7  sunny
2  1/3/2017           34          8   snow