In [6]:
import pandas as pd
weather_data={
    "day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
    "temperature":[32,35,28,24,32,31],
    "windspeed":[6,7,2,7,4,2],
    "event":["Rain","Sunny","snow","snow","rain","sunny"]
}
df=pd.DataFrame(weather_data)
df
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# For shape

In [7]:
df.shape

(6, 4)

# For head

In [8]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

# for tail

In [9]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# slicing

In [10]:
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

# columns

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
df["windspeed"]

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

# for types

In [13]:
type(df["temperature"])

pandas.core.series.Series

# print two or more columns

In [15]:
df[["day","temperature","windspeed"]]

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

## operation on data frame

In [16]:
df["temperature"].max()

np.int64(35)

In [18]:
df[df["temperature"]>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [19]:
df["day"][df["temperature"]==df["temperature"].max()]

1    1/2/2017
Name: day, dtype: object

In [31]:
df[df["temperature"]==df["temperature"].max()]

          temperature  windspeed  event
day
1/2/2017           35          7  Sunny

In [32]:
df["temperature"].std()

np.float64(3.8297084310253524)

In [23]:
df["event"].max()

'Sunny'

In [30]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

## set_index

In [42]:
df.set_index("day")

KeyError: "None of ['day'] are in the columns"

In [41]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [43]:
df.loc["1/2/2017"]

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [45]:
df.reset_index(inplace=True)
df.head()

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain

In [46]:
df.set_index("event",inplace=True)
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2